.settingsWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
}

.settingsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsImgInputLabel {
  font-size: 1.2rem;
  font-family: var(--josefin);
}

.settingsIcon {
  border: 1px solid #000;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 50%;
}
.settingsIcon:hover {
  background: #000;
  color: white;
  opacity: 0.6;
}

.settingsInputWrapper.img {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.settingsInputWrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.settingsIcon {
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

.settingsUpateTitle {
  font-family: var(--varelaRound);
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.settingsDeleteTitle {
  color: red;
  font-family: var(--varela);
  cursor: pointer;
}

.settingsInputWrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

.settingsInputLabel {
  width: 7rem;
  display: flex;
  font-family: var(--josefin);
  font-size: 1.2rem;
}

.settingsInput {
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
  background: transparent;
}

.settingsUpadateBtnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.settingsUpadateBtnWrapper button{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-family: var(--lora);
    background: lightsalmon;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
}

.settingsUpadateBtnWrapper button:hover{
    background: salmon;
    cursor: pointer;
}

.deleteTitle{
    float: right;
}

