.header {
  width: 100%;
}

.headerTitles {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--varelaRound);
  color: #fff;
  text-transform: uppercase;
}

.headerTitleSm {
  position: absolute;
  top: 38%;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 2px 0px 1px rgb(217 217 217);
  transition: all 0.4s;
  animation: top-bottom 1s 1 forwards ease;
}
.headerTitleLg {
  position: absolute;
  top: 49%;
  z-index: 1;
  font-size: 9.5rem;
  opacity: 0;
  text-shadow: 1px 25px 2px #00000075, 2px 0px 1px rgb(217 217 217);
  animation: top-bottomlg 1s 1 forwards ease;
  animation-delay: 2s;
}
.headerImg {
  width: 100%;
  height: 650px;
  object-fit: cover;
  margin-top: 1rem;
}

@keyframes top-bottom {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 38%;
    opacity: 1;
  }
}
@keyframes top-bottomlg {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 49%;
    opacity: 1;
  }
}
